body {
    /*background        : url("../images/inicio/medio-ambiente.jpg") no-repeat;*/
    /*background        : url("../images/inicio/fondo2.jpg") no-repeat;*/
    background        : url("../images/inicio/hojas_3.png") no-repeat;
    background-size   : 100% 100%;
    background-repeat : no-repeat;
    background-position: center;
}

.container {
    border : none;
}

.img-login {
    width         : 150px;
    margin-bottom : 20px;
}

.tdn-tab-body {
    text-align : center;
}

.input-login {
    margin-bottom : 10px;
}