ul {
    margin: 0;
    padding: 0;
    z-index: 1000;
}


#nav {
    width: 330px;
    float: left;
    margin: 50px 0 0;
}
#navList li {
    list-style: none;
    margin: 0 0 10px;
    float: left;

}

.addPosition {
    position:relative;
}

#navList a {
    text-decoration: none;
    /*color: #ffffff;*/
    color: #000000;
    /*background-color: #333;*/
    background-color: #e8e8e8;

    padding: 5px;
    display: block;
    width: 250px;
}
#navList a:hover {
    /*background-color: #06F;*/
    background-color: #B0C879;
}
#navList ul, #navList ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 280px;
    /*background-color: #333;*/
    background-color: #e8e8e8;
}
.listTab {
    z-index: 1000;
}
#navList .listTab li {
    margin: 0;
    z-index: 1000;
}
#navList .listTab a, #navList .listTab a:hover {
    width: 250px;
}
#navList .listTab a {
    padding: 5px 5px 5px 10px;
}
#navList li:hover ul ul, #navList li:hover ul ul ul, #navList li:hover ul ul ul ul {
    display: none;

}
#navList li:hover ul, #navList li li:hover ul, #navList li li li:hover ul, #navList li li li li:hover ul {
    display: block;
}